@import '@/assets/css/config';

.user {
  display: flex;
  align-items: center;
  gap: 16px;
}

.userAvatar {
  width: 58px;
  height: 58px;
  border-radius: 50%;
}

.userNameContainer {
  @include paragraph-1;

  display: flex;
  align-items: center;
  gap: 8px;
}

.userMenuIcon {
  transition: $transition;

  &.active {
    transform: rotate(180deg);
  }
}

.menuPopover {
  right: 0;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
}

.menuSeparator {
  height: 1px;
  background: $gray-5;
}

.menuLogoutBtn {
  color: $red !important;

  &:after {
    background: $red !important;
  }
}

.menuLogoutBtnIcon {
  stroke: $red !important;
}

@include tablet {
  .userAvatar {
    width: 45px;
    height: 45px;
  }

  .userNameContainer {
    display: none;
  }
}
