@import '@/assets/css/config';

.container {
  @include card;

  display: flex;
  flex-direction: column;
  gap: 24px;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.headerHint {
  color: $gray-3;
}

.field,
.schedule {
  width: 100%;
  max-width: 333px;
}

.schedule {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.scheduleTitle {
  @include heading-7;
}

.scheduleItem {
  display: flex;
  align-items: center;
  gap: 16px;
}

.scheduleItemRemoveBtn {
  flex-shrink: 0;
  margin-top: 24px;
}

.scheduleItemRemoveIcon {
  stroke: $red;
}
