@import '@/assets/css/config';

.container {
  @include content;

  display: flex;
  flex-direction: column;
  gap: 16px;
}

.newsContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 891px;
}

.newsImg {
  width: 100%;
  border-radius: 8px;
}

.newsContentContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.newsContent {
  display: flex;
  flex-direction: column;
  gap: 0.4lh;
  white-space: pre-wrap;
  text-wrap: pretty;
}
