@import '@/assets/css/config';

.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 16px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

.news {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 16px;

  &:not(.full) {
    max-width: 584px;
  }
}

.nothing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  gap: 16px;
  text-align: center;
}

.nothingIcon {
  width: 150px;
  height: 150px;
}
