@import '@/assets/css/config';

.container {
  display: flex;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  transition: $transition;

  &:not(.pure) {
    stroke: $gray-2;
    stroke-width: 1px;

    svg {
      path {
        fill: inherit;
        stroke: inherit;
        stroke-width: inherit;
      }
    }
  }
}
