@import '@/assets/css/config';

.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.newsImg {
  border-radius: 8px;
  width: 100%;
  aspect-ratio: 1.79;
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.newsTitle {
  @include heading-7;
}

.newsContent {
  white-space: pre-wrap;
  text-wrap: pretty;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footerExtra {
  display: flex;
  align-items: center;
  gap: 24px;
}

.newsDate {
  @include paragraph-3;
  color: $gray-3;
}

.transparentBtw:not(:hover) {
  background: none !important;
}
