@import '@/assets/css/config';

.container {
  padding: 16px 0;
  background: $white;
}

.content {
  @include content;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 38px;
}

.menu {
  display: flex;
  align-items: center;
  gap: 32px;
}

.user {
  display: flex;
  align-items: center;
  gap: 16px;
}

.userAvatar {
  width: 58px;
  height: 58px;
  border-radius: 50%;
}

@include tablet {
  .desktop {
    display: none;
  }

  .container {
    padding: 8px 0;
  }

  .logo {
    height: 31px;
  }

  .userAvatar {
    width: 45px;
    height: 45px;
  }
}
