@import '@/assets/css/config';

.container {
  padding: 16px 0;
  background: $white;
}

.content {
  @include content;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 38px;
}

.menu {
  display: flex;
  align-items: center;
  gap: 32px;
}
