@import '@/assets/css/config';

.container {
  display: flex;
  align-items: flex-start;
  gap: 32px;
}

.candidates {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 8px;
}

.sidebar {
  @include card;

  flex-shrink: 0;
  position: sticky;
  top: 24px;
  width: 23%;

  &.hidden {
    opacity: 0;
  }
}

.nothing {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.nothingIcon {
  width: 150px;
  height: 150px;
}
