@import '@/assets/css/config';

.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    top: 16px;
    bottom: 16px;
    left: 5.5px;
    width: 1px;
    background: $gray-5;
  }
}

.item {
  display: flex;
  align-items: center;
  gap: 16px;
}

.itemMark {
  flex-shrink: 0;
  width: 12px;
  height: 12px;
  z-index: 1;
  border-radius: 50%;
  border: 1px solid $gray-4;
  background: $white;

  .item.active & {
    background: $purpure;
    border: 1px solid $purpure;
  }

  .item.done & {
    background: $gray-4;
  }
}

.itemContent {
  .item.done & {
    color: $gray-4;
  }
}
